:root {
    --black: rgba(6, 7, 7, 1);
    --link-menu-font-family: "Coolvetica", Helvetica;
    --link-menu-font-weight: 400;
    --link-menu-font-size: 16px;
    --link-menu-letter-spacing: 1px;
    --link-menu-line-height: normal;
    --link-menu-font-style: normal;
  }
  